.skillTittle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.skillTittle h2 {
  color: white;
  margin: 0 20px;
  font-size: 45px;
  text-transform: uppercase;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #fff6b9); /* Choose your colors */
  background-clip: text;
  color: transparent;
}
/* Web developer skill */
.webDeveloperTittle h2{
    font-size: 26px;
    color: white;
    margin: 0 20px;
}
.webDeveloperTittle h2 span{
    background: linear-gradient(to right, #ff7e5f, #feb47b, #fff6b9); 
    background-clip: text;
    color: transparent; 
}
.webSkillList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.webSkillItems{
    margin-top: 20px;
    display: flex;
    align-items: start;
    width: 45%;
    cursor: pointer;
    position: relative;
}
.webSkillItems:hover.webSkillItems p, .webSkillItems:hover.webSkillItems h3 {
    color: black;
}
.webSkillItems::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ffdec1;
   box-shadow: inset 5px 6px 15px #00000077;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
}
.webSkillItems:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}
.html{
    font-size: 120px;
    color: #e34c26 ;
}
.css{
    font-size: 120px;
    color: #264de4 ;
}
.htmlContain{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.htmlSkillRange{
    width: 390px;
    height: 30px;
    background: #fff6b9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  
}
.htmlSkillRange .rangeParent{
 
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
}
.htmlRang{
    width: 319px;
    height: 30px;
    background: #e34c26;
    animation: htmlRange 2s linear;
}
@keyframes htmlRange{
   0%{
    width: 00px;
   }
    100%{
        width: 319px;
    }
}
.htmlSkillRange .cssRang{
    width: 327.6px;
    height: 30px;
    background: #264de4;
    animation: cssRang 2s linear;
}
@keyframes cssRang{
    0%{
        width: 0;
    }
    100%{
        width: 327.6px;
    }
}
.JavaScript{
    font-size: 120px;
    color: #ffbf00 ;
}
.javaRang{
    width:288.6px;
    height: 30px;
    background: #ffbf00;
    animation: javeRang 2s linear;
}
@keyframes javeRang{
    0%{
        width: 0;
    }
    100%{
        width:288.6px;
    }
}
.reactRang{
    width:296.4px;
    height: 30px;
    background: #61DBFB;
    animation: reactRang 2s linear;
}
.react{
    font-size: 120px;
    color: #61DBFB ;
}
@keyframes reactRang{
    0%{
        width: 0;
    }
    100%{
        width:296.4px;
    }
}
.webDevFullPage{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.webDevFullPage a{
    width: 100px;
    height: 30px;
    border: 2px solid #ff7e5f;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.webDevFullPage a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 10px;
    background:#FF7104;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
}
.webDevFullPage a:hover{
    border: none;
}
.webDevFullPage a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}
