*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header Section and menu  */
.mainHead{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #161f25;
    z-index: 999;
    position: sticky;
    top: 0;
}
.menus ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.menus ul li a{
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  color:#fff;
  text-transform:uppercase;
  transition:0.5s;
}
.menus ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  .menus ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  .menus ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#00eeff;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  .menus ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }
.logo h2{
    color: white;
}
.socialIcon{
  position: fixed;
  top: 34%;
  left: 0px;
  background: #ff0080;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  z-index: 50;
}
.socialIcon ul{
  list-style: none;
  line-height: 2;
}
.socialIcon  a{
  font-size: 24px;
  display: block;
}