body{
    background: linear-gradient(  #0f151a , #172f38);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    overflow-x: hidden;
}
p{
    color: white;
}
h3,h2{
    color: white;
}
